<div class="row">
    <div class="row">
        <div class="jumbotron">
            <h1>Welcome to the Portal!</h1>
            <p>
                A small scale intro to web design built by me, for me. <br />
                <small>&nbsp; - Erik Rasmussen</small>
            </p>
            <p><a class="btn btn-primary btn-lg" role="button" ng-click="">Get Started</a></p>
        </div>
    </div><!-- ./header -->
    <div id="widgets" class="row">

        <div class="row">
            <div class="col-md-4">

                <div class="row">
                    <div id="serverload" class="widget">
                        <div class="widget-background"></div>
                        <div class="widget-title">
                            <h3>Hardware Statistics</h3>
                        </div>
                        <div class="widget-body">
                            Server Load: {{load}}
                        </div>
                    </div>
                </div><!-- ./row -->

                <div class="row">
                    <div id="" class="widget">
                        <div class="widget-background"></div>
                        <div class="widget-title">
                            <h3>Title</h3>
                        </div>
                        <div class="widget-body">
                            Body: {{body}}
                        </div>
                    </div>
                </div><!-- ./row -->

            </div><!-- ./col-md-4 -->

            <div class="col-md-8">
                <div id="destiny-news" class="widget">
                    <div class="widget-background"></div>
                    <div class="widget-title">
                        <h1>Destiny News</h1>
                    </div>
                    <div class="widget-body">
                        <ul></ul>
                    </div>
                </div>
            </div>

        </div><!-- ./row -->

        <div class="row">
            <div id="" class="widget">
                <div class="widget-background"></div>
                <div class="widget-title">
                    <h3>Title</h3>
                </div>
                <div class="widget-body">
                    Body: {{body}}
                </div>
            </div>
        </div>

    </div><!-- ./widgets -->

    <div class="row">
        Some more info
    </div>
</div>
