<div ng-controller="backgroundController">
    <img src="../../../app/images/2726250.jpg" />
    <img src="../../../app/images/dubai-abudhabi.jpg" />
    <img src="../../../app/images/future city high quality wallpaper.jpg" />
    <img src="../../../app/images/nice-nature-high-definition-wallpapers.jpg" />
    <img src="../../../app/images/Phoenix_Convention_Center_-_South_on_3rd_St_-_2009-07-06.jpg" />
    <img src="../../../app/images/Porsche-Logo-High-Quality-Wallpaper.jpg" />
    <img src="../../../app/images/spring-nature-high-quality-resolution-wallpapers.jpg" />
</div>
