<div class="loading-anim">
    <div class="square square--main">
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
        <div class="square square--mini"></div>
    </div>
</div>
